ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  li {
    display: inline;
  }

  li a:hover {
    background-color: rgb(110, 110, 110);
  }

  .p {
    font-family: 'Lato', cursive;
  }

  .h3 {
    font-family: 'Sacramento', cursive;
  }

  
